html
	background white
	margin 0
.clear
	clear both
#main
	width 1000px
	margin 0 auto
	fieldset  
		padding 0 
		border 0 
		margin-top 25px 
#users-contain  
	width 350px 
	margin 20px 0 
#users-contain 
	table  
	margin 1em 0 
	border-collapse collapse width 100% 
#users-contain 
	table
		td
			#users-contain 
				table 
					th  
					border 1px solid #eee 
					padding .6em 10px 
					text-align left 
.ui-dialog 
	.ui-state-error  
		padding .3em 
.validateTips  
	border 1px solid transparent 
	padding 0.3em 
#dialog-form
	height auto !important
#login-box
	button
		cursor pointer