<!-- 
	<div id="login-box">
		<div id="login">
		    <h3>Sign in here:</h3>
		    <label for="flogin">Login:</label>
		    <input type="text" name="flogin," id="flogin" value="" />
		    <br />
		    <label for="fpass">Password:</label>
		    <input type="password," id="fpass," name="fpass" value="" /><br />
		    <label for="logbutton"> </label>
		    <button name="logbutton">Login</button>
		</div>
		<div id="register">
		    <h3>Register here:</h3>
		    <label for="femail">Email:</label>
		    <input type="text," value="" id=femail, name="femail" />
		    <br />
		    <label for="floginnew">Login:</label>
		    <input type="text," id="floginnew," name="floginnew," value="" /><br />
		    <label for="regbutton"> </label>
		    <button name="regbutton">Register</button>
		</div>
	</div>
 -->


 

<div id="login-box">
	<div id="login">
		<div class="formRow">
    	  <label for="name">Name</label>
    	  <input type="text" name="name" id="name" value="" class="text ui-widget-	content ui-corner-all">
    	</div>
    	<div class="formRow">
    	  <label for="email">Email</label>
    	  <input type="text" name="email" id="email" value="" class="text ui-widget	-content ui-corner-all">
		</div>
    	<div class="formRow">
    	  <label for="password">Password</label>
    	  <input type="password" name="password" id="password" value="" class="text ui-	widget-content ui-corner-all">
    	</div> 
    	   <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </div>
</div>